.navbar-brand img{
	max-height: 40px;
	max-width: 90px
}

.startuos {
	padding-left: 100px;
}


.footer{
	background-color: rgb(59, 12, 12);
	margin-top: 25px;
	margin-left: 10px;
	margin-right: 10px;
}


.images > img{
	height: 250px;
	width: 250px;
 }


.btn-default{
	color: #fff;
	background-color: #337ab7;
}

.sbtn {
	padding-left: 150px;

}
.head {
	background-color: rgb(59, 12, 12);
	margin-top: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.objt {
	color: lightseagreen;
}

.information {
	color: black;
	font-size: 17px;
	font-style: inherit;
}
.submit{
	font-size: 15px;
	color: black;
	background-color: white;
	border-radius: 2px solid black;
}

